<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/common.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${currentDir}"></p>
<p>Выберите папку</p>
<form class="container" enctype="multipart/form-data" th:method="POST" th:action="@{/list(dir=${currentDir})}">

    <div th:each="folder : ${folders}">
        <a th:href="@{/folders(folder=${folder})}" th:text="${folder}"></a>
    </div>

    <p id="warning" th:if="${warning}" th:text="${warning}"></p>
    <br>
    <input name="Кнопка" type="submit" class="dws-submit" value="Выбрать">


</form>
</body>
</html>