<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/common.css"  rel="stylesheet"  type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="showfile" th:each="file : ${fileList}">
    <p th:text="${file}"></p>
</div>
<form class="container" th:method="POST"  th:action="@{/rename}">

    <!--<input name="login" type="text" placeholder="Введите логин">-->
    <input name="reg1" type="text" placeholder="первое регулярное выражение" >
    <br>
    <input name="reg2" type="text" placeholder="второе регулярное выражение" >
    <br>
    <input  name="Кнопка" type="submit" class="dws-submit" value="Отправить">


</form>
</body>
</html>